body{
    background-image: url("../img/high-speed-internet-1230x690.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.customs{
    border-radius: 20px;
    background-color: rgba(232, 216, 216, 0.725);
}

span:hover{
    cursor: pointer;
}